.player-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.player-section {
  border-bottom: medium solid #4f3f4f;
}

.review-section {
}

.review-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap = 1rem;
}

.review {
  background-color: #d2f2f2;
  padding: 1rem;
  border-radius: 0.5rem;
}
