@import "./reset.css";

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    flex-flow:row-nowrap;

}
.container-fluid .navbar-nav {
    margin-left: auto;
}